{% extends "base.html" %}
{% block title %}Jual {{ data['title'] }}{{super()}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">KOKOPEDIA</p>
      <div class="list-group">
	{% for category in categories %}
	<a href="{{ url_for('category', cat_name=category) }}" class="list-group-item">{{ categories[category] }}</a>
	{% endfor %}
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="thumbnail">
	<div class="row carousel-holder">
          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
		<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
		<li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
              </ol>
              <div class="carousel-inner">
		<div class="item">
                  <center><img class="slide-image" src="{{ data['images'][0] }}" alt="" style="width: 400px;"></center>
		</div>
		<div class="item active left">
                  <center><img class="slide-image" src="{{ data['images'][1] }}" alt="" style="width: 400px;"></center>
		</div>
		<div class="item next left">
                  <center><img class="slide-image" src="{{ data['images'][2] }}" alt="" style="width: 400px;"></center>
		</div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
	</div>
	
        <div class="caption-full">
          <h4 class="pull-right">Rp{{ data['price']|markup_price_for_detail_page }}</h4>
          <h4><a href="#">{{ data['title'] }}</a></h4>
	  <p>{{ data['description']|safe }}</p>
        </div>
        <div class="ratings">
          <p class="pull-right">3 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
          </p>
        </div>
      </div>
      
      <div class="well">
	
        <div class="text-right">
          <a class="btn btn-success">Leave a Review</a>
        </div>
	
        <hr>
	
        <div class="row">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">10 days ago</span>
            <p>This product was great in terms of quality. I would definitely buy another!</p>
          </div>
        </div>
	
        <hr>
	
        <div class="row">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">12 days ago</span>
            <p>I've alredy ordered another one!</p>
          </div>
        </div>
	
        <hr>
	
        <div class="row">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">15 days ago</span>
            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock content %}
